__pycache__/
datasets/COCO/
datasets/COCOtrain/
datasets/COCOval/
datasets/VOC2007/
datasets/VOC2012
.vscode/
dino/ 
BiKmeans_centroid/
ca_pseudo_label/
output/
resnet/
result/
train_label/
pred_ca.json
pascalseg_coco.json
requirements.txt
voc_objects_2012_trainval_CAD_coco_style.json
voc07_coco.json
voc12_coco.json
voclabels.txt
